body			{ margin: 0; font-family: 'infiniregular',Helvetica,Arial,sans-serif; background: #efede7; }
a				{ cursor: pointer; }
img				{ display: block; }

/* LOGIN */
.loginFrame 			{  }
.loginMain 				{ 	position: fixed;  height: 100px; top: 50%; margin-top: -50px;
							text-align: center; width: 300px; left: 50%; margin-left: -150px; }
.loginMain .btnFrame 	{  }
.loginMain img 			{ display: block; width: 200px; margin: 0px auto; }

/* LOGIN - NOT USED */
.loginTop 				{ display: none;  height: 100px; padding-top: 60px; background: #66ffcc; }
.loginTop .title 		{ font-size: 20px; text-align: center; }


/* HEADER */
.header 	{ position: fixed; left: 0px; top: 0px; height: 40px; line-height: 40px; width: 100%; z-index: 5; background: white; color: #777; border-bottom: solid 1px #ccc; }
.header a		{ color: #777; }
.header .center { text-align: center; }


/* FOOTER */
.footer	{ position: fixed; left: 0px; bottom: 0px; height: 40px; line-height: 40px; width: 100%; z-index: 5; background: white; color: #777; border-top: solid 1px #ccc; }


/* MAIN CONTENT */
.mainContent 			{ }
.mainContent.padTop		{ padding-top: 60px; }
.mainContent.padBottom	{ padding-bottom: 60px; }

/* EDIT ACCOUNT */
.mainContent input		{ width: 100%; display: block; height: 40px; font-size: 14px; margin-top: 7px; padding-left: 8px; }
.mainContent select		{ display: block; height: 40px; font-size: 14px; margin-top: 7px; padding-left: 8px; width: 100%; }
.mainContent .btn-primary	{ display: block; height: 40px; line-height: 40px; text-align: center; font-size: 14px; margin-top: 7px; width: 100%; }
.mainContent .bio 		{ display: block; width: 100%; height: 400px; }

/* BROWSE CHECKINS */
.checkinList		{ background: white; min-height: 100%; padding: 0 16px; margin-top: 15px; border: solid 1px #ccc; }
.checkin 			{ padding: 8px 0; border-bottom: dashed 1px #ccc; }
.checkin:last-child { border-bottom: none; }
.checkin .icon 		{ float: left; margin-right: 16px; }
.checkin .icon img	{ border-radius: 50%; height: 50px; width: 50px; }
.checkin .text		{ float: left; line-height: 50px; font-size: 14px; }


/* PERSON PAGE */
.personView 						{ }
.personView h3						{ text-align: center; }
.personView .featureProfilePic		{ max-width: 50%; margin: 0px auto; border-radius: 10px;  }
.personView .checkinInfo			{ text-align: center; margin: 10px 0 0; }
.personView .smallBtns div			{ padding: 0px; }
.personView .smallBtns a.red		{ background: #660000 !important; }
.personView .smallBtns a.green		{ background: green !important; }
.personView .profile				{ width: 70%; margin: 20px auto; text-align: center; }





