<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">


		<!-- JQUERY \ ANGULAR -->	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
		<script src="client/third_party/angular-local-storage.min.js"></script>

		<script src="client/third_party/inobounce.min.js"></script>


		<!-- BOOTSTRAP -->
		<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

		<!-- MATERIAL DESIGN -->
		<script type="text/javascript" src="client/third_party/b-md/arrive.min.js"></script>
		<script type="text/javascript" src="client/third_party/b-md/material.min.js"></script>
		<link rel="stylesheet" href="client/third_party/b-md/bootstrap-material-design.min.css" />
		<script type="text/javascript" src="client/third_party/b-md/ripples.min.js"></script>
		<link rel="stylesheet" href="client/third_party/b-md/ripples.min.css" />
		<script>$.material.init();</script>

	
		<!-- FONTS -->
		<link href="client/third_party/fonts/infiniti/stylesheet.css" rel="stylesheet" type="text/css" />		
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,500' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


		
		<!-- ADD TO HOMESCREEN -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-title" content="Add to Home">
		<link rel="shortcut icon" sizes="16x16" href="client/third_party/cubiq/images/icon-16x16.png">
		<link rel="shortcut icon" sizes="196x196" href="client/third_party/cubiq/images/icon-196x196.png">
		<link rel="apple-touch-icon-precomposed" href="client/third_party/cubiq/images/icon-152x152.png">
		<!--link rel="apple-touch-icon-precomposed" sizes="152x152" href="icon-152x152.png">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="icon-144x144.png">
		<link rel="apple-touch-icon-precomposed" sizes="120x120" href="icon-120x120.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="icon-114x114.png">
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="icon-76x76.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="icon-72x72.png"-->


		<link rel="stylesheet" type="text/css" href="client/third_party/cubiq/addtohomescreen.css">
		<script src="client/third_party/cubiq/addtohomescreen.min.js"></script>
		<script>
				addToHomescreen();
		</script>

		
		<!-- APP -->
		<script src="platonik.php?lib=js"></script>
		<link href="platonik.php?lib=css" rel="stylesheet" type="text/css" />
	</head>
	
	<body  ng-app="PlatonikApp" ng-controller="PlatonikCtrl">
	
		<!-- CHAT CHROME -->
		<div class="chatHeader" ng-if="screen == 'chat'">
			<div class="left col-xs-2 col-sm-2">
				<a ng-click="feedController.reveal()" class="btn btn-default btn-fab btn-fab-micro">
					<i class="material-icons">keyboard_backspace</i>
				</a>
			</div>		
			<div class="center col-xs-8 col-sm-8">
				<div class="chatPersonName">{{selected_person.first_name}} {{selected_person.last_name}}</div>
			</div>
			<div class="right col-xs-2 col-sm-2" style="padding-right: 0">
				<img class="personIcon" ng-src="//graph.facebook.com/{{selected_person.fbid}}/picture" />
			</div>
		</div>
		
		
		<!-- INTERNAL APP FRAME -->
		<div class="appFrame scrollable" >
		
			
			<!-- MAIN CONTENT -->
			<div class="mainContent col-sm-4 col-sm-offset-4 col-xs-12">

				<!-- LOADING INTERFACE -->
				<div class="loadingFrame" ng-if="view=='loading'" >
					<div class="loginMain">
						<p>Loading...</p>
						<img src="client/images/loading.gif" />
					</div>
				</div>
		
				<!-- LOGIN INTERFACE -->
				<div class="loginFrame" ng-if="view=='login'" >
					<div class="loginTop">
						<div class="title">What is {{appName}}?</div>
					</div>
					<div class="loginMain">
						<p>Click below to start using {{appName}}</p>
						<div class="btnFrame">
							<a ng-click="login()">
								<img src="client/images/fbcnct.png" />
							</a>
						</div>
					</div>
				</div>
				
				<!-- MAKE CHECK-IN INTERFACE -->
				<div ng-if="view == 'checkIn'">
					<div class=" panel panel-default primaryFrame" style="padding-top: 1px">
						<div class="form-group" style="margin: 0"						 >
							<label class="control-label" for="locationName">Where are you?</label>
							<input class="form-control" id="locationName" type="text" ng-model="checkinController.newCheckin.location">
						</div>
						<div ng-if="here.hasLocation">
							<img ng-src="{{here.img_url}}" class="checkinImage"/>
						</div>
						<div style="margin: 5px; text-align: center;">
							<a class="btn btn-raised btn-success" ng-click="checkinController.submit()">Introduce Yourself</a>
						</div>
					</div>
				</div>
				
				<!-- ACCOUNT MANAGEMENT INTERFACE -->
				<div ng-if="view == 'account'" class=" panel panel-default primaryFrame" style="padding: 16px">
					<div ng-if="acctController.step == 1">
						<input type="text" ng-model="user.first_name" placeholder="FIRST NAME" />
						<input type="text" ng-model="user.last_name" placeholder="LAST NAME" />
						<input type="text" ng-model="user.email" placeholder="EMAIL" />
						<div class="row">
							<div class="col-sm-8 col-xs-8">
								<input type="text" ng-model="user.city" placeholder="CITY"  />
							</div>
							<div class="col-sm-4 col-xs-4" style="padding-left: 0px">
								<select ng-model="user.state" >
									<option value="">State</option>
									<option ng-repeat="(abbrev, state) in dictionary.us_state_abbrevs_names" 	
											ng-value="state" ng-selected="state == user.state">{{abbrev}}</option>
								</select>
							</div>					
						</div>
						
						      
						<div class="row">
							<div class="col-sm-6 col-xs-6">
								<select ng-model="user.gender" >
									<option value=""></option>
									<option>MALE</option>
									<option>FEMALE</option>
									<option>OTHER</option>									
								</select>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-4 col-xs-4" style="padding-right: 0">	
								<select ng-model="user.birthday.month">
									<option value="0">MONTH</option>
									<option ng-repeat="(monthNum, monthName) in dictionary.months"
											ng-value="monthNum" ng-selected="monthNum == user.birthday.month">{{monthName}}</option>
								</select>
							</div>
							<div class="col-sm-4 col-xs-4">									
								<select ng-model="user.birthday.day">
									<option value="0">DAY</option>
									<option ng-repeat="dayNum in dictionary.days"
											ng-value="dayNum" ng-selected="dayNum == user.birthday.day">{{dayNum}}</option>
								</select>
							</div>
							<div class="col-sm-4 col-xs-4" style="padding-left: 0">																	
								<select ng-model="user.birthday.year">
									<option value="0">YEAR</option>
									<option ng-repeat="year in dictionary.years"
											ng-value="year" ng-selected="year == user.birthday.year">{{year}}</option>
								</select>
							</div>					
						</div>
						<a class="btn-primary " ng-click="acctController.saveAndProgress()">Next</a>
					</div>
					
					<div ng-if="acctController.step == 2">
						<label>Who are you? ({{acctController.charsRemaining}} chars)</label>
						<textarea class="bio" ng-model="user.bio"></textarea>
						<a class="btn-primary " ng-click="acctController.saveAndProgress()">Start Meeting People</a>
					</div>
				</div>
				
				<!-- BROWSE CHECK-INS INTERFACE -->
				<div ng-if="view == 'feed'">
					<div class="checkinList primaryFrame panel panel-default">
						<div class="checkin clearfix" ng-repeat="checkin in feedController.feedList"
							ng-click="personController.openFromCheckin(checkin)">
							<div class="icon">
								<img ng-src="//graph.facebook.com/{{checkin.fbid}}/picture" />
							</div>
							<div class="text">
								<div class="name">
									{{checkin.first_name}} {{checkin.last_name}}
								</div>
								<div class="info">
									{{ checkin.dateObj | date:'MMM. d - h:ma'}} - {{checkin.location}}
								</div>
							</div>
						</div>																	
					</div>
				</div>
				
				<!-- PERSON INTERFACE -->
				<div ng-if="view == 'person'" class="personView">
					<div ng-if="screen == 'profile'" class=" panel panel-default primaryFrame">
						<h3>{{selected_person.first_name}} {{selected_person.last_name}}</h3>
						<img class="featureProfilePic" 
							ng-src="//graph.facebook.com/{{selected_person.fbid}}/picture?type=large" />
						<div class="checkinInfo">
							<b>Last Check-In:</b>
							<br />{{selected_person.lastCheckin.dateObj | date:'MMM. d - h:ma'}}
							<br />{{selected_person.lastCheckin.location}}		
						</div>
						<div class="smallBtns row">
							<div class="col-sm-4 col-sm-offset-2 col-xs-6" class="padding-right: 8px;">
								<a class="btn btn-raised btn-success" 
									ng-click="personController.openChat()">Message</a>
							</div>
							<div class="col-sm-4 col-xs-6" style="padding-left: 8px;">
								<a class="btn btn-raised btn-warning" 
									ng-click="personController.blockUser()">Block</a>
							</div>
						</div>
						<div class="profile">
							<p>{{selected_person.bio}}</p>						
						</div>
					</div>
					<div ng-if="screen == 'chat'" >
						<div class="dialogueFrame">
							<div class="me speech">What's up dude?</div>
							<div class="them speech">Nothin...</div>
							<div class="them speech">You?</div>
							<div class="me speech">Chilling!!!</div>
						</div>
					</div>
				</div>
				
				
			</div>

		</div>

		<!-- FOOTER: MENU -->
		<div class="footer" ng-if="footer.show">
			<div class="col-sm-4 col-xs-12" style="margin: 0px auto; float: none; padding: 0;">
				<div class="col-sm-3 col-xs-3 link checkIn" ng-click="checkinController.open()"
					ng-class="{active : currentComponent == 'checkin'}">
					<i class="glyphicon glyphicon-edit"></i>
					<div>Check-In</div>
				</div>
				<div class="col-sm-3 col-xs-3 link feed" ng-click="feedController.open()"
					ng-class="{active : currentComponent == 'feed'}">
					<i class="glyphicon glyphicon-globe"></i>
					<div>Feed</div>
				</div>
				<div class="col-sm-3 col-xs-3 link search" ng-click="loadView('search')"
					ng-class="{active : currentComponent == 'search'}">
					<i class="glyphicon glyphicon-search"></i>
					<div>Search</div>
				</div>
				<div class="col-sm-3 col-xs-3 link account" ng-click="loadView('account')"
					ng-class="{active : currentComponent == 'account'}">
					<i class="glyphicon glyphicon-user"></i>
					<div>Account</div>
				</div>
			</div>
		</div>	
		
		<!-- FOOTER: CHAT INPUT -->		
		<div class="chatInput" ng-if="screen == 'chat'">
			<div class="col-sm-4 col-sm-offset-4 col-xs-12">
				<div class="col-sm-10 col-xs-10" style="padding-left: 0;">
					<textarea ng-model="personController.currentText.content"></textarea>
				</div>
				<div class="col-sm-2 col-xs-2" style="padding: 0;">
					<a class="btn btn-success" ng-click="personController.sendChat()">Send</a> 
				</div>
			</div>
		</div>

		
		<!-- MODAL TEMPLATES -->
		<div style="display: none;">

			
			
		</div>		
	</body>
</html>